.analytics{
  display:flex;
  flex:4;
  flex-direction: column;
  
  flex-wrap:wrap;
  justify-content: space-between;
  
}


.chart{
  width:70%;
  flex:4;
  background-color: rgb(212, 212, 234);
  padding-top:10px;
  padding-bottom:10px;
  padding-left:50px;
  padding-right:50px;
  
  margin:50px;
  border-radius: 10px;
}


.barchart{
  width:70%;
  flex:4;
  background-color: rgb(230, 230, 238);
  padding-top:10px;
  padding-bottom:10px;
  padding-left:50px;
  padding-right:50px;
  
  margin:50px;
  border-radius: 10px;
}